body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.instructions {
    text-align: center;
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajusta la altura del contenedor del juego */
}

.header {
    background-color: #2196F3;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    height: 40px; /* Establece una altura fija para el encabezado */
    flex-shrink: 0;
	align-items: center;
}

.game-area {
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
    height: 100%; /* Ajusta la altura del área del juego */
}

.item {
    position: absolute;
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    user-select: none;
    font-size: 1.5rem;
}

.item.correct {
    background-color: #4CAF50;
    animation: fadeOut 1s forwards;
}

.item.incorrect {
    background-color: #F44336;
    animation: fadeOut 1s forwards;
}

.boton-pausa {
    background-color: #FFC107;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.boton-pausa:hover {
    background-color: #FFA000;
}

.pantalla-pausa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: #2196F3;
    z-index: 100;
}

.mensajenivel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: #2196F3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.red-line {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: red;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}