body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 95%;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.instrucciones {
    text-align: center;
    padding: 20px;
}

.logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px; /* Espacio debajo del logo */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
	font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajusta la altura del contenedor del juego */
}

.header {
    background-color: #2196F3;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    height: 50px; 
    flex-shrink: 0;
	align-items: center;
}
.level,
.score {
	font-weight: bold;
}

.game-area {
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
    height: 100%; /* Ajusta la altura del área del juego */
}

.item {
    position: absolute;
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border-radius: 20px;
    user-select: none;
    font-size: 1.75rem;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.item.correct {
    background-color: #4CAF50;
    animation: fadeOutUp 1s forwards;
}

.item.incorrect {
    background-color: #F44336;
    animation: fadeOutDown 1s forwards;
}

.boton-pausa {
    background-color: #FFC107;
    color: black;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.25rem;
	font-weight: bold;
}

.boton-pausa:hover {
    background-color: #FFA000;
}

.pantalla-pausa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: #2196F3;
    z-index: 100;
}

.mensajenivel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.25rem;
    font-weight: bold;
    color: #2196F3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.red-line {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: red;
}

.game-over {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: red;
    z-index: 10;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
		transform: scale(1) translateY(0);
    }
    to {
        opacity: 0;
		transform: scale(0.8) translateY(-50px);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
		transform: scale(1) translateY(0);
    }
    to {
        opacity: 0;
		transform: scale(0.8) translateY(50px);
    }
}